<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflowClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <meta property="og:title" content="Code Overflow" />
     <meta property='og:image' content="<%= asset_path('CodeOverflow.png') %>"/>
     <meta property="og:description"
       content="Code Overflow is a clone of stackoverflow.com that allows users to post questions and receive answers from the community."
     />
     <meta property="og:url"
       content="https://code-overflow.herokuapp.com/#/"
     />

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <script>
      window.logo = "<%= asset_path('logo.png')%>";
      window.navLogo = "<%= asset_path('logo2.png')%>";
      window.dropdown = "<%= asset_path('dropdown.png')%>";
      window.globe = "<%= asset_path('globe.png')%>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
